In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
url = 'https://github.com/LukeCaptainAI/norm_quad/blob/main/aisdecoded.csv?raw=true' # forked from github
df = pd.read_csv(url, index_col=0)
df

,utc-dt,mmsi,sog,cog,true_heading,delta_hdn-cog
1,2021-06-01 15:28:53,246657000,11.400000,304.000000,313,9.000000
2,2021-06-01 15:28:53,244030516,4.800000,115.900002,110,-5.900002
5,2021-06-01 15:28:54,245209000,3.300000,106.599998,104,-2.599998
10,2021-06-01 15:28:54,249522000,9.400000,43.000000,43,0.000000
11,2021-06-01 15:28:55,244287000,25.299999,96.000000,92,-4.000000
...,...,...,...,...,...,...
205,2021-06-01 15:29:31,304642000,16.600000,294.000000,299,5.000000
207,2021-06-01 15:29:31,244287000,25.799999,28.000000,36,8.000000
209,2021-06-01 15:29:31,249040000,8.300000,77.000000,83,6.000000
212,2021-06-01 15:29:31,244100907,0.200000,257.200012,326,68.799988
213,2021-06-01 15:29:31,250005693,7.100000,126.900002,126,-0.900002

In [3]:
df['cog'].describe()

count    120.000000
mean     137.445833
std       98.936880
min        1.000000
25%       53.250000
50%      111.450001
75%      231.675003
max      336.000000
Name: cog, dtype: float64

In [4]:
# Stap 1:
# -------
# Ik wil achter COG een kolumn ['quad_cog'] invoegen wat het kwadranten aangeeft van de koersen:
#           
# ['cog']     ['quad_cog']
# 53.250000   1 
# 111.450001  2
# 231.675003  3
# 336.000000  4
# 
# conditional formats:
# ------------------
#   0 > cog >  90 --- 1
#  90 > cog > 180 --- 2 
# 180 > cog > 270 --- 3
# 270 > cog > 360 --- 4

In [16]:
pika = 'https://iitutor.com/wp-content/uploads/2019/03/N1303-Signs-in-Quadrants.png'
from IPython.display import Image # trigonomic functions of quadrants
Image(url= pika, width=400, height=400)

 
print('Rechts draaiend stelsel...')
print(' ')
print('Q4     0      Q1')
print('               ')
print('       |        ')
print('270  --|--    90')
print('       |        ')
print('               ')
print('Q3    180     Q2')

pika = 'https://iitutor.com/wp-content/uploads/2019/03/N1303-Signs-in-Quadrants.png'
from IPython.display import Image # trigonomic functions of quadrants
Image(url= pika, width=400, height=400)

Rechts draaiend stelsel...

Q4     0      Q1

       |
270  --|--    90
       |

Q3    180     Q2

In [6]:
cog = np.array(df['cog'])
cog # geisoleerde numpy array voor indivudeele operaties

array([304.        , 115.90000153, 106.59999847,  43.        ,
        96.        , 260.6000061 , 111.        , 294.        ,
       103.90000153,  15.39999962, 106.59999847, 268.29998779,
        61.5       , 133.        ,  94.        , 304.6000061 ,
       116.80000305, 227.1000061 ,  42.        ,  42.        ,
       111.30000305,  90.        , 114.19999695,  35.        ,
       106.59999847, 298.29998779, 114.5       ,   9.30000019,
        85.        ,  41.        , 293.        , 111.59999847,
       113.40000153,  79.        , 120.80000305,  50.5       ,
       267.70001221, 112.09999847,  73.        , 156.3999939 ,
        15.19999981, 112.69999695, 291.        , 106.59999847,
        67.        , 305.20001221,  43.        , 111.69999695,
       290.        ,  41.        , 114.40000153, 112.        ,
       298.6000061 ,  27.        ,  60.        , 336.        ,
        54.        , 291.        ,  24.        ,  50.20000076,
        51.        , 111.09999847, 123.69999695, 106.59999847,
        48.        , 117.40000153, 110.40000153, 306.5       ,
        14.80000019, 104.30000305,  43.        ,  62.        ,
       290.        , 196.30000305, 245.3999939 ,  42.        ,
       109.69999695, 115.19999695, 291.        , 111.90000153,
        37.        , 118.09999847, 298.1000061 ,  14.5       ,
        33.        , 208.        , 321.79998779,   1.        ,
       302.8999939 , 108.59999847,  31.        , 126.        ,
       181.80000305, 107.19999695,  72.        , 271.3999939 ,
       292.        ,  28.        , 298.        , 107.90000153,
       306.8999939 ,  15.10000038, 271.3999939 , 156.8999939 ,
        28.        , 291.        ,  41.        , 206.3999939 ,
       118.90000153,  76.        , 107.        ,  27.        ,
       112.19999695, 298.70001221, 115.69999695, 294.        ,
        28.        ,  77.        , 257.20001221, 126.90000153])

In [11]:
#If statement probeersels voor stap 1

def qaud_id(x):
    if 0 > cog > 90:
    return 1
        elif 90 > cog > 180:
        return 2
            elif 180 > cog > 270:
            return 3
                else
             return 4

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 11)

In [12]:
# stap 2:
# -------
# De numpy array quad_cog toevoegen aan de oorspronkelijke dataframe 
# 1 op basis van kwadranten info een if statement toevoegen waarbij de cog of wel hoek a gereduceert wordt
# 2 de y waarde middels de sinus van de gerduceerde hoek toevoegen op basis van de coditionele waarde van ['quad_cog']
# 3 de x waarde middels cosinus van ... ...
# 
# ['cog']: a  ['quad_cog']    1['reduced_cog']:b  2['cog_y']                       3['cog_x']
# 53.250000   1               53.250000 a=a       y= np.sin(np.radians(b))         x= np.cos(np.radians(b))
#  
# 111.450001  2               21.450001 a=a-90    y= (np.sin(np.radians(b))*(-1))  x= np.cos(np.radians(b))
#  
# 231.675003  3               51.675003 a=a-180   y= (np.sin(np.radians(b))*(-1))  x= (np.cos(np.radians(b))*(-1))
#  
# 336.000000  4               66.000000 a=a-270   y= np.sin(np.radians(b))         x= (np.cos(np.radians(b))*(-1))