In [27]:
import numpy as np
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format
import matplotlib.pyplot as plt

In [51]:
url = 'https://github.com/LukeCaptainAI/norm_quad/blob/main/aisdecoded.csv?raw=true' # forked from github
local = '/home/luke/norm_quad/aisdecoded2.csv'
df = pd.read_csv(local, index_col=0)
df

                  utc-dt       mmsi   sog    cog  true_heading  delta
1    2021-06-01 15:28:53  246657000 11.40 304.00           313   9.00
2    2021-06-01 15:28:53  244030516  4.80 115.90           110  -5.90
5    2021-06-01 15:28:54  245209000  3.30 106.60           104  -2.60
10   2021-06-01 15:28:54  249522000  9.40  43.00            43   0.00
11   2021-06-01 15:28:55  244287000 25.30  96.00            92  -4.00
..                   ...        ...   ...    ...           ...    ...
205  2021-06-01 15:29:31  304642000 16.60 294.00           299   5.00
207  2021-06-01 15:29:31  244287000 25.80  28.00            36   8.00
209  2021-06-01 15:29:31  249040000  8.30  77.00            83   6.00
212  2021-06-01 15:29:31  244100907  0.20 257.20           326  68.80
213  2021-06-01 15:29:31  250005693  7.10 126.90           126  -0.90

[120 rows x 6 columns]

In [72]:
heading_adrift = np.select([(df.delta < 0),
                        (df.delta == 0),
                        (df.delta > 0)],
                        ['portside','no drift', 'starboard'])

df['drift_to'] = heading_adrift.tolist()

In [3]:
df['cog'].describe()

count   120.00
mean    137.45
std      98.94
min       1.00
25%      53.25
50%     111.45
75%     231.68
max     336.00
Name: cog, dtype: float64

In [7]:
pika = 'https://iitutor.com/wp-content/uploads/2019/03/N1303-Signs-in-Quadrants.png'
from IPython.display import Image # trigonomic functions of quadrants
Image(url= pika, width=400, height=400)

 
print('Rechts draaiend stelsel...')
print(' ')
print('Q4     0      Q1')
print('               ')
print('       |        ')
print('270  --|--    90')
print('       |        ')
print('               ')
print('Q3    180     Q2')

pika = 'https://iitutor.com/wp-content/uploads/2019/03/N1303-Signs-in-Quadrants.png'
from IPython.display import Image # trigonomic functions of quadrants
Image(url= pika, width=400, height=400)

Rechts draaiend stelsel...

Q4     0      Q1

       |
270  --|--    90
       |

Q3    180     Q2

In [8]:
cog = np.array(df['cog'])
hdn = np.array(df['true_heading'])
cog # geisoleerde numpy array voor indivudeele operaties

array([304.        , 115.90000153, 106.59999847,  43.        ,
        96.        , 260.6000061 , 111.        , 294.        ,
       103.90000153,  15.39999962, 106.59999847, 268.29998779,
        61.5       , 133.        ,  94.        , 304.6000061 ,
       116.80000305, 227.1000061 ,  42.        ,  42.        ,
       111.30000305,  90.        , 114.19999695,  35.        ,
       106.59999847, 298.29998779, 114.5       ,   9.30000019,
        85.        ,  41.        , 293.        , 111.59999847,
       113.40000153,  79.        , 120.80000305,  50.5       ,
       267.70001221, 112.09999847,  73.        , 156.3999939 ,
        15.19999981, 112.69999695, 291.        , 106.59999847,
        67.        , 305.20001221,  43.        , 111.69999695,
       290.        ,  41.        , 114.40000153, 112.        ,
       298.6000061 ,  27.        ,  60.        , 336.        ,
        54.        , 291.        ,  24.        ,  50.20000076,
        51.        , 111.09999847, 123.69999695, 106.59999847,
        48.        , 117.40000153, 110.40000153, 306.5       ,
        14.80000019, 104.30000305,  43.        ,  62.        ,
       290.        , 196.30000305, 245.3999939 ,  42.        ,
       109.69999695, 115.19999695, 291.        , 111.90000153,
        37.        , 118.09999847, 298.1000061 ,  14.5       ,
        33.        , 208.        , 321.79998779,   1.        ,
       302.8999939 , 108.59999847,  31.        , 126.        ,
       181.80000305, 107.19999695,  72.        , 271.3999939 ,
       292.        ,  28.        , 298.        , 107.90000153,
       306.8999939 ,  15.10000038, 271.3999939 , 156.8999939 ,
        28.        , 291.        ,  41.        , 206.3999939 ,
       118.90000153,  76.        , 107.        ,  27.        ,
       112.19999695, 298.70001221, 115.69999695, 294.        ,
        28.        ,  77.        , 257.20001221, 126.90000153])

In [9]:
# isolation of: 1.quadrant deterimation 2. reduced angle based on quadrant 3. magnitude vector * cos_x and sin_x

# cog 1
quad_cog = np.select([(df.cog>0)&(df.cog<90),
                     (df.cog>90)&(df.cog<180),
                      (df.cog>180)&(df.cog<270),
                     (df.cog>270)&(df.cog<360)],
                    [1,2,3,4])

df['qd_cog'] = quad_cog.tolist()

#df['red_hdn'] = red_hdn.tolist()
#df['qd_hdn'] = quad_hdn.tolist()

# 2
red_cog = np.select([(df.cog>0)&(df.cog<90),
                     (df.cog>90)&(df.cog<180),
                      (df.cog>180)&(df.cog<270),
                     (df.cog>270)&(df.cog<360)],
                    [df.cog,df.cog-90,df.cog-180,df.cog-270])

df['red_cog'] = red_cog.tolist()

# 3 cog x, y formula
a = (df.sog*np.cos(np.radians(df.red_cog)))
b = (df.sog*np.cos(np.radians(df.red_cog))*(-1))
c = (df.sog*np.sin(np.radians(df.red_cog)))
d = (df.sog*np.sin(np.radians(df.red_cog))*(-1))

cog_x =   np.select([(df.cog>0)&(df.cog<90),
                     (df.cog>90)&(df.cog<180),
                      (df.cog>180)&(df.cog<270),
                     (df.cog>270)&(df.cog<360)],
                    [a, a, b, b])

cog_y = np.select([(df.cog>0)&(df.cog<90),
                     (df.cog>90)&(df.cog<180),
                      (df.cog>180)&(df.cog<270),
                     (df.cog>270)&(df.cog<360)],
                    [c, d, d, c])

df['cog_x'] = cog_x.tolist()
df['cog_y'] = cog_y.tolist()

# hdn 1
quad_hdn = np.select([(df.true_heading>0)&(df.true_heading<90),
                     (df.true_heading>90)&(df.true_heading<180),
                      (df.true_heading>180)&(df.true_heading<270),
                     (df.true_heading>270)&(df.true_heading<360)],
                    [1,2,3,4])

# hdn 2
red_hdn = np.select([(df.true_heading>0)&(df.true_heading<90),
                     (df.true_heading>90)&(df.true_heading<180),
                      (df.true_heading>180)&(df.true_heading<270),
                     (df.true_heading>270)&(df.true_heading<360)],
                    [df.true_heading, df.true_heading-90, df.true_heading-180, df.true_heading-270])

In [11]:


#hdn x, y formula
#e = (df.sog*np.cos(np.radians(df.red_hdn)))
#f = (df.sog*np.cos(np.radians(df.red_hdn))*(-1))
#g = (df.sog*np.sin(np.radians(df.red_hdn)))
#h = (df.sog*np.sin(np.radians(df.red_hdn))*(-1))



cog_x =   np.select([(df.cog>0)&(df.cog<90),
                     (df.cog>90)&(df.cog<180),
                      (df.cog>180)&(df.cog<270),
                     (df.cog>270)&(df.cog<360)],
                    [a, a, b, b])
                  
cog_y = np.select([(df.cog>0)&(df.cog<90),
                     (df.cog>90)&(df.cog<180),
                      (df.cog>180)&(df.cog<270),
                     (df.cog>270)&(df.cog<360)],
                    [c, d, d, c])

# hdn_x = np.select([(df.true_heading>0)&(df.true_heading<90),
#                      (df.true_heading>90)&(df.true_heading<180),
#                       (df.true_heading>180)&(df.true_heading<270),
#                      (df.true_heading>270)&(df.true_heading<360)],
#                     [e, e, f, f])
# 
# hdn_y = np.select([(df.true_heading>0)&(df.true_heading<90),
#                      (df.true_heading>90)&(df.true_heading<180),
#                       (df.true_heading>180)&(df.true_heading<270),
#                      (df.true_heading>270)&(df.true_heading<360)],
#                     [g, h, h, g])

In [73]:
df['qd_cog'] = quad_cog.tolist()
df['red_cog'] = red_cog.tolist()
df['cog_x'] = cog_x.tolist()
df['cog_y'] = cog_y.tolist()
df['red_hdn'] = red_hdn.tolist()
df['qd_hdn'] = quad_hdn.tolist()

df[['utc-dt','mmsi','sog','cog','qd_cog','red_cog','cog_x','cog_y','true_heading','qd_hdn','red_hdn','delta','drift_to']]

,utc-dt,mmsi,sog,cog,qd_cog,red_cog,cog_x,cog_y,true_heading,qd_hdn,red_hdn,delta,drift_to
1,2021-06-01 15:28:53,246657000,11.40,304.00,4,34.00,-9.45,6.37,313,4,43,9.00,starboard
2,2021-06-01 15:28:53,244030516,4.80,115.90,2,25.90,4.32,-2.10,110,2,20,-5.90,portside
5,2021-06-01 15:28:54,245209000,3.30,106.60,2,16.60,3.16,-0.94,104,2,14,-2.60,portside
10,2021-06-01 15:28:54,249522000,9.40,43.00,1,43.00,6.87,6.41,43,1,43,0.00,no drift
11,2021-06-01 15:28:55,244287000,25.30,96.00,2,6.00,25.16,-2.64,92,2,2,-4.00,portside
...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,2021-06-01 15:29:31,304642000,16.60,294.00,4,24.00,-15.16,6.75,299,4,29,5.00,starboard
207,2021-06-01 15:29:31,244287000,25.80,28.00,1,28.00,22.78,12.11,36,1,36,8.00,starboard
209,2021-06-01 15:29:31,249040000,8.30,77.00,1,77.00,1.87,8.09,83,1,83,6.00,starboard
212,2021-06-01 15:29:31,244100907,0.20,257.20,3,77.20,-0.04,-0.20,326,4,56,68.80,starboard
213,2021-06-01 15:29:31,250005693,7.10,126.90,2,36.90,5.68,-4.26,126,2,36,-0.90,portside

In [68]:
trig = np.sin(np.radians((df['delta']))*(-1)) # *-1: delta = hdn-cog, hdn > cog >>> starboard, hdn < cog >>> Portside 
d_offset= (df.sog*trig) # d_offset is the magnitude of the offtrack vector perpendicular to the heading.
d_offset = d_angle = df.true_heading + 90

SyntaxError: invalid syntax (<ipython-input-47-1c45b8d829e5>, line 1)

In [1]:
# stap 2:
# -------
# De numpy array quad_cog toevoegen aan de oorspronkelijke dataframe 
# 1 op basis van kwadranten info een if statement toevoegen waarbij de cog of wel hoek a gereduceert wordt
# 2 de y waarde middels de sinus van de gerduceerde hoek toevoegen op basis van de coditionele waarde van ['quad_cog']
# 3 de x waarde middels cosinus van ... ...
# 
# ['cog']: a  ['quad_cog']    1['reduced_cog']:b  2['cog_y']                       3['cog_x']
# 53.250000   1               53.250000 a=a       y= np.sin(np.radians(b))         x= np.cos(np.radians(b))
#  
# 111.450001  2               21.450001 a=a-90    y= (np.sin(np.radians(b))*(-1))  x= np.cos(np.radians(b))
#  
# 231.675003  3               51.675003 a=a-180   y= (np.sin(np.radians(b))*(-1))  x= (np.cos(np.radians(b))*(-1))
#  
# 336.000000  4               66.000000 a=a-270   y= np.sin(np.radians(b))         x= (np.cos(np.radians(b))*(-1))

array([124.        ,  25.90000153,  16.59999847,  43.        ,
         6.        ,  80.6000061 ,  21.        , 114.        ,
        13.90000153,  15.39999962,  16.59999847,  88.29998779,
        61.5       ,  43.        ,   4.        , 124.6000061 ,
        26.80000305,  47.1000061 ,  42.        ,  42.        ,
        21.30000305,   0.        ,  24.19999695,  35.        ,
        16.59999847, 118.29998779,  24.5       ,   9.30000019,
        85.        ,  41.        , 113.        ,  21.59999847,
        23.40000153,  79.        ,  30.80000305,  50.5       ,
        87.70001221,  22.09999847,  73.        ,  66.3999939 ,
        15.19999981,  22.69999695, 111.        ,  16.59999847,
        67.        , 125.20001221,  43.        ,  21.69999695,
       110.        ,  41.        ,  24.40000153,  22.        ,
       118.6000061 ,  27.        ,  60.        , 156.        ,
        54.        , 111.        ,  24.        ,  50.20000076,
        51.        ,  21.09999847,  33.69999695,  16.59999847,
        48.        ,  27.40000153,  20.40000153, 126.5       ,
        14.80000019,  14.30000305,  43.        ,  62.        ,
       110.        ,  16.30000305,  65.3999939 ,  42.        ,
        19.69999695,  25.19999695, 111.        ,  21.90000153,
        37.        ,  28.09999847, 118.1000061 ,  14.5       ,
        33.        ,  28.        , 141.79998779,   1.        ,
       122.8999939 ,  18.59999847,  31.        ,  36.        ,
         1.80000305,  17.19999695,  72.        ,  91.3999939 ,
       112.        ,  28.        , 118.        ,  17.90000153,
       126.8999939 ,  15.10000038,  91.3999939 ,  66.8999939 ,
        28.        , 111.        ,  41.        ,  26.3999939 ,
        28.90000153,  76.        ,  17.        ,  27.        ,
        22.19999695, 118.70001221,  25.69999695, 114.        ,
        28.        ,  77.        ,  77.20001221,  36.90000153])

In [ ]:
kubernetees